<main class="app-shell h-screen font-sans">
  <div class="mx-auto flex h-full min-h-0 w-full max-w-none flex-col gap-4 px-4 py-6 lg:flex-row sm:px-6">
    <%== partial("partials/sidebar", locals: { show_controls: true }) %>
    <%== partial("fragments/chat") %>
    <div class="panel flex w-full shrink-0 flex-col gap-10 px-4 py-4 lg:sticky lg:top-6 lg:h-[calc(100vh-3rem)] lg:w-[24rem]">
      <%== partial("fragments/jukebox") %>
      <%== partial("fragments/tools_panel") %>
      <%== partial("fragments/mcp_panel") %>
    </div>
    <%== partial("fragments/jukebox/player") %>
  </div>
</main>
